<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{user.title}}</h6>

    <button (click)="toggleCollapese()">{{buttonText}}</button>
    <div *ngIf=!isCollapse>
      <p class="card-text">{{user.address}}</p>
      <div *ngIf="user.phone?.length">
        <p>Phone Number : </p>
        <p *ngFor="let phone of user.phone">{{phone}}</p>
      </div>
    </div>


  </div>
</div>

<div>
  <label> Name : </label>
  <input type="text" [(ngModel)]="nameText">
  {{nameText}}
</div>
